.next
node_modules

certificates

.env.*

# Devenv
.devenv*
devenv.local.nix

# direnv
.direnv

# pre-commit
.pre-commit-config.yaml

# You don’t need to commit _pagefind/ directory to your Git repository, as it is always newly generated.
_pagefind/
