@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Klee One Regular";
  src: url("/fonts/KleeOne-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "LXGW WenKai Regular";
  src: url("/fonts/LXGWWenKai-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inconsolata Regular Nerd Font Complete";
  src: url("/fonts/Inconsolata Regular Nerd Font Complete.ttf")
    format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

body {
  font-family: "Inconsolata Regular Nerd Font Complete", "LXGW WenKai Regular",
    "Klee One Regular", serif;
  @apply text-xl md:text-base;
  background-color: #fffcf0;
}
